

.prod-img{
    width: 100px;
    height: 100px;
}
@media only screen and (min-width:350px) and (max-width:650px)  {

.cart-table-header{
    font-size: 50%;
}

.prod-img{
    width: 50px;
    height: 50px;
}
.media-heading{
width: 50%;
font-size: 1em;

}
.brand{
    display: none;
}
.media-heading-title{
    font-size: 50%;
}
.cart-data{
    font-size: 60%;
}
 .remove-btn,.subtratct-btn{
     font-size: 50%;
 }
 
.btn-wrapper{
    display: flex;
    flex-direction: column;
}
.cart-checkout{
    font-size: 40%;
}
.cart-total{
    font-size: 60%;
    margin-top: 13px;
margin-left: 14px;}

.cart-shipping{
font-size: 40%;
margin: 10px;
}
}
